@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); 

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.title-text {
  font-size: 3.5rem;
  font-family: 'Concert One', cursive; 
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  text-align: left;
  margin-left: 2rem; 
  margin-top: 2rem;
}

.otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.otp-card {
  width: 90%;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h2 {
    font-family: 'Concert One', cursive;
    margin-bottom: 10px;
    font-size: 40px;
    color: #ffffff;
}

p {
  font-family: 'Concert One', cursive;
  margin-bottom: 30px;
  color: #000000;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.otp-inputs input {
  font-family: 'Concert One', cursive;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 0.6rem;
  background-color: white;
  font-family: 'Concert One', cursive;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: #ddd;
  transform: scale(1.01);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .title-text {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .otp-card {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title-text {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .otp-card {
    padding: 1rem;
  }

  h2 {
    font-size: 30px;
  }

  .otp-inputs input {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .otp-inputs {
    gap: 10px;
  }
}