<header>
  <div class="title-text">DemoBank</div>
</header>
<app-animated-background></app-animated-background>
<div class="login-wrapper">
    <div class="login-box">
      <h2 class='head'><i class="material-icons">lock</i> Login</h2>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="input-group">
          <i class="material-icons">email</i>
          <input type="email" placeholder="Enter your email" name="email" autocomplete="off" [(ngModel)]="email" required>
        </div>
        <div class="input-group">
          <i class="material-icons">lock</i>
          <input [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter your password" name="password" autocomplete="new-password" [(ngModel)]="password" required>
          <i class="material-icons toggle-eye-icon" (click)="togglePasswordVisibility()">{{ passwordVisible ? 'visibility' : 'visibility_off' }}</i>
        </div>
        <div class="options">
          <label><input type="checkbox" name="remember"> Remember me</label>
          <a [routerLink]="['/forgot-password']" href="#">Forgot password?</a>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Log In</button>
        <div class="register-link">Don't have an account? <a href="#">Register</a></div>
      </form>
    </div>
  </div>