<header>
  <div class="title-text">DemoBank</div>
</header>
<div class="reset-wrapper">
  <div class="reset-container">
    <div class="reset-box">
      <div class="reset-form-section">
        <h2 class='head'><i class="material-icons">lock_reset</i> Reset Password</h2>
        <p>Please enter your new password.</p>
        <form (ngSubmit)="onResetPassword()" #resetForm="ngForm">
          <div class="password-container">
            <input [type]="newPasswordVisible ? 'text' : 'password'" placeholder="New Password" name="password" [(ngModel)]="password" (ngModelChange)="onPasswordChange()" required />
            <i class="material-icons toggle-eye-icon" (click)="toggleNewPasswordVisibility()">{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</i>
          </div>
          <div class="password-container">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" placeholder="Confirm New Password" name="confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="onConfirmPasswordChange()" required />
            <i class="material-icons toggle-eye-icon" (click)="toggleConfirmPasswordVisibility()">{{ confirmPasswordVisible ? 'visibility' : 'visibility_off' }}</i>
          </div>
          <button type="submit" [disabled]="!resetForm.valid || !passwordConditions.length || !passwordConditions.uppercase || !passwordConditions.lowercase || !passwordConditions.number || !passwordConditions.specialCharacter || !passwordConditions.passwordMatch">Reset Password</button>
        </form>
      </div>
      <div class="password-conditions">
        <h3>Password must contain:</h3>
        <ul>
          <li [class.valid]="passwordConditions.length" [class.invalid]="!passwordConditions.length">
            <i class="material-icons">{{ passwordConditions.length ? 'check' : 'close' }}</i> At least 8 characters
          </li>
          <li [class.valid]="passwordConditions.uppercase" [class.invalid]="!passwordConditions.uppercase">
            <i class="material-icons">{{ passwordConditions.uppercase ? 'check' : 'close' }}</i> At least one uppercase letter
          </li>
          <li [class.valid]="passwordConditions.lowercase" [class.invalid]="!passwordConditions.lowercase">
            <i class="material-icons">{{ passwordConditions.lowercase ? 'check' : 'close' }}</i> At least one lowercase letter
          </li>
          <li [class.valid]="passwordConditions.number" [class.invalid]="!passwordConditions.number">
            <i class="material-icons">{{ passwordConditions.number ? 'check' : 'close' }}</i> At least one number
          </li>
          <li [class.valid]="passwordConditions.specialCharacter" [class.invalid]="!passwordConditions.specialCharacter">
            <i class="material-icons">{{ passwordConditions.specialCharacter ? 'check' : 'close' }}</i> At least one special character
          </li>
          <li [class.valid]="passwordConditions.passwordMatch" [class.invalid]="!passwordConditions.passwordMatch">
            <i class="material-icons">{{ passwordConditions.passwordMatch ? 'check' : 'close' }}</i> Passwords match
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>