<header>
  <div class="title-text">DemoBank</div>
</header>
<div class="login-wrapper">
  <div class="login-box">
    <h2 class = 'head'>Login</h2>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input type="email" placeholder="Enter your email" name="email" autocomplete="off" ngModel required>
      <input type="password" placeholder="Enter your password" name="password" autocomplete="new-password" ngModel required>

      <div class="options">
        <label><input type="checkbox" name="remember"> Remember me</label>
        <a href="#">Forgot password?</a>
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Log In</button>

      <div class="register-link">
        Don't have an account? <a href="#">Register</a>
      </div>
    </form>
  </div>
</div>
