body {
  background-image: url('C:/Users/ahbij/OneDrive/Desktop/Internship/DemoBank/assets/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.no-bg-image {
  background-image: none;
  background-color: white;
}